
 
 <%= form_for Event.create, url: calendars_path, method: :post do |f| %>
            <%= f.label :start_date, "Start Date :", class: 'control-label', id: 'field-function_purpose' %>
        <div class='controls'>
            <%= f.text_field :start_date, class: 'span11', id: 'start_date', autofocus: true, remote: true, :readonly => true %>
            </div>
             </div>
      <div class='control-group'>
        <%= f.label :end_date, 'End Date :', class: 'control-label' %>
        <div class='controls'>
      <%= f.text_field :end_date, class: 'span11', type: "text", id: 'end_date' %>
        </div>
      </div>
       <div class='control-group'>
        <%= f.label :description, 'Description :', class: 'control-label' %>
        <div class="controls">
      <%= f.text_field :description, class: 'span11', type: "text", autofocus: true, placeholder: 'Description', id: "description" %>
        </div>
      </div>

      <div class='form-actions'>
      <%= f.submit :Submit, class: 'btn btn-success', id: 'submitEvent', remote: true%>
        <% end %>
      </div></p>