
 <div class='control-group'>
<%= form_for Event.create, url: calendars_path, method: :post do |f| %>
        <%= f.label :start_date, "Start Date :", class: 'control-label' %>
        <div class='controls'>
      <%= f.text_field :start_date, class: 'span11', id: 'start_date', autofocus: true %>
        </div>
      </div>
      <div class='control-group'>
        <%= f.label :end_date, 'End Date :', class: 'control-label' %>
        <div class='controls'>
      <%= f.text_field :end_date, class: 'span11', id: 'end_date',  autofocus: true, placeholder: 'mm/dd/yyyy' %>
        </div>
      </div>
       <div class='control-group'>
        <%= f.label :description, 'Description :', class: 'control-label' %>
        <div class="controls">
      <%= f.text_field :description, class: 'span11', autofocus: true, placeholder: 'Description' %>
        </div>
      </div>

      <div class='form-actions'>
      <%= f.submit :Submit, class: 'btn btn-success', id: 'button_submit'%>
        <% end %>
      </div>

